@charset "UTF-8";
.red {
  color: #ff4767;
}

.green {
  color: #4cc095;
}

.bg_main_fff {
  background-color: #f2f3f8;
}

.bg_green {
  background: #4cc095;
}

.bg_red {
  background: #ff4767;
}

.bg_main {
  background: #051325;
}

.bg_second, .bg1 {
  background: #051933;
}

.flex_bet {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.bor {
  border: 1px solid #ededed;
}

.v_center {
  text-align: center;
}

.v_right {
  text-align: right;
}

.v_left {
  text-align: left;
}

.re {
  position: relative;
}

.ab {
  position: absolute;
}

.zindex1 {
  z-index: 1;
}

.zindex2 {
  z-index: 2;
}

.zindex3 {
  z-index: 3;
}

.overflow {
  overflow: auto;
}

/*修改滚动条样式*/
.gundong::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  /**/
}

.gundong::-webkit-scrollbar-track {
  background: #373737;
  border-radius: 2px;
}

.gundong::-webkit-scrollbar-thumb {
  background: #606060;
  border-radius: 10px;
}

.gundong::-webkit-scrollbar-corner {
  background: #179a16;
}
